@model Movie

@{
    ViewData["Title"] = "Movie details";
}

<div class="row">
     
   
                
        <div class="col-md-4">
                    <!-- Card image -->
                    <div class="view view-cascade overlay mb-10">
                        <img class="card-img-top" style="width:100%" src="@Model.ImgURL" alt="movie poster">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
        <div class="col-md-12">
            <div class="card-footer bg-white">

                <p class="card-text">
                    <a class="btn text-primary float-start" asp-action="Index">
                        Back to List
                    </a>
                    <a class="btn btn-primary float-end  @((DateTime.Now > Model.EndDate) ? "disabled" : "")"
                       asp-controller="Orders"
                       asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id"><i class="bi bi-cart-plus"></i> Add to Cart (Price @Model.Price.ToString("c"))</a>
                </p>
            </div>
        </div>
                    </div>

        <div class="col">
                    <!-- Card content -->
         

                    <div class="card-body card-body-cascade text-center pb-0">
             

                        <!-- Title -->
                        <h4 class="card-title"><strong>@Model.Name</strong></h4>
                         
                        <!-- Text -->
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">
                            <b>Cinema: </b>
                            <a style="text-decoration:none;" asp-controller="Cinemas" asp-action="Details" asp-route-id="@Model.CinemaId">
                                @Model.Cinema.Name
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Producer: </b>
                            <a style="text-decoration:none;" asp-controller="Producers" asp-action="Details" asp-route-id="@Model.ProducerId">
                                @Model.Producer.FullName
                            </a>
                        </p>
                        <p class="card-text"><b>Category: </b>@Model.MovieCategory</p>
                        <p class="card-text"><b>Start Date: </b>@Model.StartDate.ToString("dd MMM yy")</p>
                        <p class="card-text"><b>End Date: </b>@Model.EndDate.ToString("dd MMM yy")</p>
                        <p class="card-text ">
                            <b>Status: </b>
                            @if (DateTime.Now >= Model.StartDate && DateTime.Now <= Model.EndDate)
                            {
                                <span class="badge bg-success text-white">AVAILABLE</span>
                            }
                            else if (DateTime.Now > Model.EndDate)
                            {
                                <span class="badge bg-danger text-white">EXPIRED</span>
                            }
                            else
                            {
                                <span class="badge bg-primary text-white">UPCOMING</span>
                            }
                        </p>

                        
            <div class="col">
                        <p class="card-text">
                            <b>Actors: </b>
                             <div>
                            
                                @foreach (var actor in Model.Actors_Movies)
                                {
                                    <div>
                                        <img class="border-info" src="@actor.Actor.ProfilePictureURL" style="max-width: 150px" />
                                        <br/>
                                        <a style="text-decoration:none;" asp-controller="Actors" asp-action="Details" asp-route-id="@actor.ActorId">@actor.Actor.FullName</a>
                                     
                                    </div>
                                    
                                }
                            </div>
                        </p>
                         </div>
                        
                             
                    </div>

                </div>
                <!-- Card Wider -->
            
    </div>
</div>